@page "/"
@using Microsoft.Extensions.Configuration
@using Onebrb.Client.Settings
@inject IConfiguration Configuration


<h1>@MainSettings.AppName</h1>
<p>@MainSettings.WelcomeSlogan</p>

@code { 

    public MainSettings MainSettings { get; set; }

    protected override void OnInitialized()
    {
        MainSettings = Configuration.GetSection(nameof(AppSettings)).Get<AppSettings>().MainSettings;
    }
}