@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a class="icon-link" href="authentication/profile">
            <i class="fas fa-user"></i>
            <span>
                @context.User.Identity.Name
            </span>
        </a>
        <a class="icon-link" href="messages">
            <i class="fas fa-envelope"></i>
            <span>
                Messages
            </span>
        </a>
        <button class="nav-link btn btn-link icon-link btn-logout" @onclick="BeginSignOut">
            <i class="fas fa-door-open"></i>
            <span>Log out</span>
        </button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
